@rendermode InteractiveServer

<div class="flex">
    <button @onclick="ResetGame">Réinitialiser</button>
    <button class="@GetActivePlayerClass(Player, Model.PlayerA)" @onclick="SelectPlayerA">Marc (@Model.PlayerA.Cards.Count)</button>
    <button class="@GetActivePlayerClass(Player, Model.PlayerB)" @onclick="SelectPlayerB">Estelle (@Model.PlayerB.Cards.Count)</button>

    @if (Player != null)
    {
        <button @onclick="PickGameCard">Piger</button>
        <button @onclick="StealPlayerCard">Voler</button>
        <button @onclick="ShuffleGameCards">Mélanger</button>
        <button @onclick="SeeTheFuture">Voir le futur</button>
    }
</div>

<h3 class="primary">@Model.Cards.Count cartes restantes</h3>

@if (Player != null)
{
    <h3 class="primary">Mes cartes</h3>
    <CardDeck Cards="Player.Cards" ActivePlayer="Player" ButtonsPosition="ButtonsPosition.Bottom" />
}

<h3 class="primary">Cartes défaussées</h3>

<CardDeck Cards="@Model.DiscardedCards" ActivePlayer="Player" ButtonsPosition="ButtonsPosition.Top" />

@if (IsPlayerExploded())
{
    <div class="exploded" />
}

<style>
    .exploded {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        border: none;
        border-radius: 0.2rem;
        width: 15rem;
        height: 10rem;
        background-image: url('images/card_exploding_kitten.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>
