@rendermode InteractiveServer

<div class="flex">
    <button @onclick="Model.Reset">Réinitialiser</button>
    <button class="@GetActivePlayerClass(Player, Model.PlayerA)" @onclick="SelectPlayerA">Marc (@Model.PlayerA.Cards.Count)</button>
    <button class="@GetActivePlayerClass(Player, Model.PlayerB)" @onclick="SelectPlayerB">Estelle (@Model.PlayerB.Cards.Count)</button>

    @if (Player != null)
    {
        <button @onclick="() => Player.PickCard()">Piger</button>
        <button @onclick="() => Player.StealCard()">Voler</button>
        <button @onclick="SeeTheFuture">Voir le futur</button>
        <button @onclick="ShuffleCards">Mélanger</button>
    }
</div>

<h3 class="primary">@Model.Cards.Count cartes restantes</h3>

@if (IsPlayerA())
{
    <Player Model="@Model.PlayerA" />
}

@if (IsPlayerB())
{
    <Player Model="@Model.PlayerB" />
}

<h3 class="primary">Cartes défaussées</h3>

<CardDeck Cards="@Model.DiscardedCards" ActivePlayer="Player" ButtonsPosition="ButtonsPosition.Top" />

@if (PlayerExploded)
{
    <div class="exploded">
    </div>
}

<style>
    .exploded {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        border: none;
        border-radius: 0.2rem;
        width: 15rem;
        height: 10rem;
        background-image: url('images/card_exploding_kitten.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>
