@rendermode InteractiveServer

<div class="flex">
    <button @onclick="Model.ResetAsync">Réinitialiser</button>
    <button class="@GetActivePlayerClass(Player, Model.PlayerA)" @onclick="SelectPlayerA">Marc (@Model.PlayerA.Cards.Count)</button>
    <button class="@GetActivePlayerClass(Player, Model.PlayerB)" @onclick="SelectPlayerB">Estelle (@Model.PlayerB.Cards.Count)</button>

    @if (Player != null)
    {
        <button @onclick="() => Player.PickCard(Model)">Piger</button>
        <button @onclick="() => Player.StealCard(Model)">Voler</button>
        <button @onclick="SeeTheFuture">Voir le futur</button>
    }
</div>

<h3 class="primary">@Model.Cards.Count cartes restantes</h3>

@if (IsPlayerA())
{
    <Player Model="@Model.PlayerA" />
}

@if (IsPlayerB())
{
    <Player Model="@Model.PlayerB" />
}

<h3 class="primary">Cartes défaussées</h3>

<CardDeck Cards="@Model.DiscardedCards" ActivePlayer="Player" />

@if (PlayerExploded)
{
    <div class="exploded">
        <span>Un joueur a explosé !</span>
    </div>
}

<style>
    .exploded {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        border: none;
        border-radius: 0.2rem;
        padding: 0.6rem;
        background-color: mediumvioletred;
        color: white;
        font-size: 1rem;
    }
</style>
