@rendermode InteractiveServer

<div class="flex">
    <button @onclick="Model.ReinitializeAsync">Réinitialiser</button>
    <button class="@GetActivePlayerClass(Player, Model.PlayerA)" @onclick="SelectPlayerA">Marc</button>
    <button class="@GetActivePlayerClass(Player, Model.PlayerB)" @onclick="SelectPlayerB">Estelle</button>

    @if (Player != null)
    {
        <button @onclick="Player.TakeCard">Piger</button>
        <button @onclick="Player.StealCard">Voler</button>
        <button @onclick="SeeTheFuture">Voir le futur</button>
    }
</div>

<h3 class="color-white">@Model.Cards.Count cartes restantes</h3>

@if (IsPlayerA())
{
    <Player Model="@Model.PlayerA" />
}

@if (IsPlayerB())
{
    <Player Model="@Model.PlayerB" />
}

<h3 class="color-white">Cartes défaussées</h3>

<CardDeck Cards="@Model.DiscardedCards" />
